@import '../../App.module.scss';

.container {
  padding: 3rem 0;
}

.DrinkCardList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 1.5rem;
  row-gap: 1rem;
}

.Error {
  font-family: $font-title;
  color: #fff;
  font-size: 2em;
  text-align: center;
}

.divider {
  margin-bottom: 2rem;
}
