@import '../../App.module.scss';

.DrinkCardList {
  width: 100%;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 1.5rem;
  row-gap: 1rem;
}

.Error {
  font-family: $font-title;
  color: #fff;
  font-size: 2em;
  margin: 0 0 1rem 0;
  text-align: center;
}

.Divider {
  padding: 2rem 0;
}
