@import "../../../App.module.scss";

.IngredientContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;

    p {
        margin: 0;
        font-family: $font-para;
    }
}

.Delete {
    background-color: #fff;
    color: #000;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    margin: 0.5em 1em 0.5em 1em;
}
