@import "../../App.module.scss";

.RandomPage {
    width: 80vw;
    margin: auto;
}

.ButtonContainer {
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
}

.Button {
    margin: 0.5rem 0;
}

.Title {
    margin: 0;
    font-family: $font-title;
    color: #fff;
    padding: 1rem 0;
    font-size: 1rem;
}

@media (min-width: 500px) {
    .RandomPage {
        padding-top: 9rem;
        width: 80vw;
    }

    .Title {
        font-size: 2rem;
        text-align: center;
    }

    .ButtonContainer {
        flex-direction: row;
        justify-content: space-around;
    }
}
