.Border {
    width: 100%;
    height: 6px;
    background-image: linear-gradient(to right, #42210b, #b59952, #42210b);
}

.BorderBlack {
    width: 100%;
    height: 5px;
    background-color: #000;
}

.BorderSmall {
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, #42210b, #b59952, #42210b);
}
