@import "../../App.module.scss";

.Search {
    width: 80vw;
    margin: auto;
    padding-top: 2rem;
}

.DrinkSearch {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.InputElement {
    display: flex;
    flex-direction: column;

    label {
        font-family: $font-title;
        color: #fff;
        font-size: 1.5rem;
        margin-bottom: 0.5em;
    }

    input {
        background-color: #4d4d4d;
        border: 2px solid #fff;
        color: #fff;
        font-family: $font-para;
        font-size: 1.2rem;
        box-sizing: border-box;
        padding: 0.5rem;
        width: 80vw;
        height: 3rem;
        margin-bottom: 1rem;
    }
}

.Button {
    padding: 0.6em;
    background-color: #000;
    color: #fff;
    font-family: $font-title;
    font-size: 1rem;
    border: 2px solid #fff;
    height: 3rem;
    width: 100%;
}

@media (min-width: 500px) {
    .Search {
        width: 80vw;
        padding-top: 10rem;
    }

    .DrinkSearch {
        flex-direction: row;
        justify-content: flex-start;
    }

    .InputElement {
        flex-grow: 2;
        input {
            width: 100%;
            margin-bottom: 0;
        }
    }

    .Button {
        width: 20vw;
        margin-left: 2rem;

        &:hover {
            background-image: linear-gradient(
                to right,
                #42210b,
                #b59952,
                #42210b
            );
            outline: 1px solid #fff;
            outline-offset: 3px;
        }
    }
}
