@import "../../../App.module.scss";

.DrinkCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    text-decoration: none;
    // border-bottom: 6px solid #fff;

    &:hover {
        h2 {
            // background-color: transparent;
            color: #b59952;
            font-size: 1.1rem;
        }

        .Overlay {
            opacity: 0;
        }
    }

    img {
        width: 100%;

        // margin: 0.5rem 0;
    }

    h2 {
        font-family: $font-title;
        color: #000;
        font-size: 1rem;
        height: 1.5rem;
        text-align: center;
        margin: 0;
        text-decoration: none;
        padding: 0.6rem 0;
        background-color: #fff;
        transition-duration: 0.5s;
    }
}

.Container {
    position: relative;
    background-color: #b59952;
}

.Overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 0.5s ease;
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
