.Display {
  display: none;
  width: 100vw;
  z-index: 10;
}

.Header {
  padding: 1rem;
}

.Header__container {
  width: 80vw;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.Icon {
  height: 4rem;
  transition-duration: 0.5s;
}

@media (min-width: 500px) {
  .Display {
    display: block;
    position: absolute;
    top: 0;
  }
}
