//fonts
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
$font-para: "Poiret One", cursive;
$font-title: "Limelight", cursive;

.App {
    background: linear-gradient(to right, #000, #333, #000);
    height: 100vh;
}

//borders
.Border {
    width: 100vw;
    height: 8px;
    background-image: linear-gradient(to right, #42210b, #b59952, #42210b);
}

.BorderBlack {
    width: 100vw;
    height: 6px;
    background-color: #000;
}

.BorderSmall {
    width: 100vw;
    height: 4px;
    background-image: linear-gradient(to right, #42210b, #b59952, #42210b);
}
