//fonts
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
$font-para: "Poiret One", cursive;
$font-title: "Limelight", cursive;

.App {
    background: linear-gradient(to right, #000, #333, #000);
    min-height: 100vh;
    height: 100%;
}
